.contact-page {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    align-items: center;
}

.contact-call {
    display: flex;
    justify-content: center;
}

.label {
    font-family: "Urbanist", sans-serif;
    color: purple;
}

.form-control,
.send-button {
    border: 1px solid var(--color1);
    border-radius: 2px;
    width: 100%;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: "Urbanist", sans-serif;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-col {
    padding: 10px;
    box-sizing: border-box;
    flex: 1;
    margin: 0px 10px 0px 10px;
    width: 45%;
}

.form-col-full {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    flex: 1;
    margin: 0px 10px 0px 10px;
}

.contact-form-div {
    display: flex;
}

.contact-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 25px 20px 10px;
    position: relative;
}

.send-button {
    position: absolute;
    z-index: 999;
    background-color: var(--color5);
    color: rgb(252, 80, 60);
    font-size: large;
    border: 1px solid var(--color1);
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 50%;
    bottom: 20px;
    right: 10px;
    width: 60px;
    height: 60px;
}

.send-button:hover {
    background-color: lightgreen;
}

.message {
    height: 80px;
}

.contact-sticker {
    position: absolute;
    top: 230px;
    right: 9px;
    z-index: 5;
}

@media screen and (max-width: 800px) {
    .contact-sticker {
        top: 180px !important;
        right: 9px;
    }
}

.circle-font {
    font-size: 30px;
    font-family: "Urbanist", sans-serif;
    color: var(--color1);
}

input textarea {
    font-size: large;
}