.contact-page {
  display: flex;
  padding: 20px;
}

.form-control,
.send-button {
  width: 100%;
  padding: 10px;
  font-family: "Urbanist", sans-serif;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-col {
  padding: 10px;
  box-sizing: border-box;
  flex: 1;
  margin: 0px 10px 0px 10px;
  width: 45%;
}

.form-col-full {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  flex: 1;
  margin: 0px 10px 0px 10px;
}

.contact-form-div {
  display: flex;
}

.message {
  height: 80px;
}

.circle-font {
  font-size: 30px;
  font-family: "Urbanist", sans-serif;
  color: var(--color4);
}

input textarea {
  font-size: large;
}

@media screen and (max-width: 800px) {
  .contact-form {
    padding: 20px 45px 20px 30px !important;
  }

  .send-button {
    font-size: small;
  }
}
