.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex-grow: 1;
}

.footer {
  display: flex;
  z-index: 1000;
  background-color: transparent;
  width: 100%;
  margin-bottom: 20px;
}

.larger-footer-div {
  width: 100%;
}

.larger-footer-div p {
  font-size: small;
}

.footer-centered {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: flex-end;
}

.footer-logo {
  border: 0;
  vertical-align: middle;
  display: none;
}

.foot {
  color: black;
  text-decoration: none;
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  font-family: "Urbanist", sans-serif;
  letter-spacing: 1.2px;
  color: gray;
}

@media screen and (max-width: 600px) {
  .larger-footer-div p {
    font-size: x-small !important;
  }

  .footer-centered {
    margin: 20px !important;
  }
}
