.streaming-container {
    display: flex;
    margin: 0 20px 0 20px;
    justify-content: space-between;
}

.streaming-logo-price-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.streaming-logo {
    border-radius: 5%;
}

p {
    color: black;
    text-decoration: none !important;
}

/* .trailer-container {
    object-fit: contain;
} */

.iframe {
    position: relative;
    bottom: 0;
    width: 100%;
    min-height: 400px;
    margin-right: 20px;
}

.review-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.modal-header {
    display: flex;
    justify-content: center;
    border: solid 2px pink;
    background-color: lightgray;
    color: black;
    font-size: x-large;
    align-items: center;
    font-family: "Urbanist", sans-serif;

}

.modal-body {
    align-items: center;
}

.review {
    font-size: large;
    font-family: "Urbanist", sans-serif;
    padding-bottom: 20px;
}

.modal-content {
    border: solid 2px pink;
}