p {
  color: black;
  text-decoration: none !important;
  font-family: "Urbanist", sans-serif;
}

.close-mc {
  padding: 0;
  margin: 20px 0 0 0;
  font-size: xx-large;
  border: none;
  background-color: transparent;
  align-self: flex-end;
  color: red;
  position: absolute;
  right: 5vw;
  top: 1vh;
}

.trailer-container {
  position: relative;
  margin: 25px;
  padding-top: 56.25%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.together {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.together p {
  line-height: 2;
}

.iframe-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}

.poster-review-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.poster-div {
  display: flex;
  justify-content: center;
  position: relative;
}

.sticker-modal {
  position: absolute;
  top: 90px;
  right: 130px;
  z-index: 5;
}

.streaming-trailer-div {
  justify-content: space-between;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modal-title-div {
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
}

.modal-header {
  display: flex;
  justify-content: center;
  color: black;
  font-size: x-large;
  align-items: center;
  border: double 12px rgb(250, 106, 103);
  border-radius: 15px 15px 0 0;
  background-color: rgb(245, 186, 77);
  padding: 10px;
}

.modal-footer {
  border: none;
}

.modal-title {
  font-family: "Urbanist", sans-serif;
  font-size: xx-large;
}

.modal-content {
  border-radius: 12px;
}

.modal-body {
  background-color: rgb(228, 244, 222);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid rgb(250, 106, 103);
  border-radius: 4px;
  max-height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.modal-body::-webkit-scrollbar {
  width: 12px;
}

.modal-body::-webkit-scrollbar-track {
  background: transparent;
}

.modal-body::-webkit-scrollbar-thumb {
  background: transparent;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  border: none;
  background-color: transparent;
  width: 90%;
  z-index: 9999999999;
  min-width: 30vw;
  max-width: 900px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}

iframe.iframe .ytp-title-link {
  display: none !important;
}

.modal-open {
  overflow: hidden;
}

body.modal-open {
  overflow: hidden;
  height: 100%;
  position: fixed;
  width: 100%;
}

.review {
  font-size: medium;
  font-family: "Urbanist", sans-serif;
  margin: 15px 80px 15px 80px;
  line-height: 2;
  display: flex;
  align-items: center;
  text-align: justify;
}

@media screen and (max-width: 1000px) {
  .poster-review-div {
    flex-direction: column;
  }
}

@media screen and (max-width: 900px) {
  .review-div,
  .review {
    margin: 20px 50px !important;
    font-size: medium !important;
  }

  .modal-content ul {
    gap: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .review {
    font-size: medium !important;
    margin: 20px 20px 10px 20px !important;
  }
}
