.streaming-container {
    display: flex;
    margin: 90px 0px 20px 0px;
    justify-content: flex-end;
}

.streaming-logo-price-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.streaming-logo {
    border-radius: 5%;
    margin-right: 30px;
}

p {
    color: black;
    text-decoration: none !important;
}

.trailer-container {
    object-fit: fill;
    display: flex;
    justify-content: center;
}

/* .ytp-cued-thumbnail-overlay-image {
    height: null !important;
} */

.iframe {
    position: relative;
    bottom: 0;
    width: 50%;
    margin-right: 20px;
}

.review-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
    object-fit: fill;
}

.modal-header {
    display: flex;
    justify-content: center;
    border: solid 2px pink;
    background-color: lightgray;
    color: black;
    font-size: x-large;
    align-items: center;
    font-family: "Urbanist", sans-serif;

}

.modal-body {
    align-items: center;
}

.review {
    font-size: large;
    font-family: "Urbanist", sans-serif;
    padding-bottom: 20px;
}

.modal-content {
    border: solid 2px pink;
    width: 100vw;
}

.modal-body {
    object-fit: contain;
}

.modal-content {
    margin: 30px;
}

.modal-dialog {
    width: 100vw;
    max-width: none !important;
}