.navbar {
    z-index: 3;
    width: 100vw;
    height: 60px;
    top: 0;
    font-family: "Urbanist", sans-serif;
    background-color: transparent;
    margin: 0px !important;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.navbar-toggler {
    float: right;
    box-shadow: none !important;
    border: none !important;
}

.nav-content {
    width: 100%;
}

.navbar-content {
    display: flex;
    justify-content: space-evenly;
}

.nav-btn {
    font-family: "Urbanist", sans-serif;
    letter-spacing: 2px;
    color: black;
    text-decoration: none;
    margin-right: 20px;
}

.active {
    text-decoration: underline;
}

.nav-btn:hover {
    cursor: pointer;
    color: salmon;
}

.navbar-toggler-icon {
    color: white
}

.nav-btn:active {
    cursor: pointer;
    text-decoration: underline;
    color: #ffc400;
}

.navbar-logo:hover {
    cursor: pointer;
}

.nav-item {
    margin-bottom: 8px;
}

.navbar-logo {
    height: 100%;
    object-fit: cover;
}

.col {
    display: flex;
    justify-content: space-between;
    padding: 5px;

}

/* SMALL SCREENS */
@media screen and (max-width: 760px) {
    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        display: flex;
        align-items: flex-end !important;
        flex-direction: column;
        padding: 5px;
    }
}