@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.nav-container {
  width: 100%;
}

.new-navbar {
  display: flex;
  justify-content: space-between;
  transition: left 0.3s ease;
}

.new-navbar.open {
  left: 0;
}

.navbar-content {
  display: flex;
  align-items: center;
  /* background-color: rgb(228, 244, 222); */
  border-radius: 3px;
  /* border: 2px solid black; */
  /* box-shadow: 0 0 0 4px white, 0 0 0 6px black, 0 0 0 8px white,
    0 0 0 10px black, 0 0 0 12px white; */
  height: 80px;
  margin: 10px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.navbar-content.open {
  display: flex;
}

.active {
  text-decoration: underline;
}

.nav-item,
.nav-item a {
  font-weight: 600;
  letter-spacing: 1.5px;
  color: var(--color1);
  text-decoration: none;
  font-size: 18px;
  z-index: 999;
  margin-bottom: 20px;
}

.nav-item:hover,
.nav-item a:hover {
  cursor: pointer;
  color: lightgreen;
}

.nav-btn:active {
  cursor: pointer;
  text-decoration: underline;
  color: #ffc400;
}

.navbar-logo {
  /* position: absolute; */
  right: 20px;
  top: 20px;
  width: 200px;
  margin: 40px 30px 0 0;
}

.navbar-logo:hover {
  cursor: pointer;
}

.icons {
  color: white;
}

.nav-item {
  margin: 0 20px;
}

.close-icon,
.open-icon {
  position: absolute;
  left: -40px;
  top: 30px;
  transition: 0.3s ease !important;
  z-index: 100001;
  color: salmon;
}

.close-icon.open {
  left: 200px;
  transition: left 0.3s ease;
}

.open-icon.closed {
  left: 300px;
  transition: left 0.3s ease;
}

.modal-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  position: fixed;
  z-index: 9998;
  background-color: rgba(128, 128, 128, 1);
  border: none;
}

.modal-open {
  overflow: hidden;
  height: 100%;
}

.modal-content-contact {
  max-width: 850px;
  border-radius: 3px;
  background-color: transparent;
  width: 70vw;
  z-index: 9999;
}

.close-div {
  display: flex;
  justify-content: flex-end;
}

.close {
  padding: 0;
  margin: 0;
  font-size: xx-large;
  border: none;
  background-color: transparent;
  align-self: flex-end;
  color: red;
  position: absolute;
  right: 30vw;
}

.close-icon:hover,
.close-icon:focus,
.open-icon:hover,
.open-icon:focus {
  /* color: lightgreen; */
  color: rgb(177, 135, 177);
  cursor: pointer;
}

/* MAX WIDTH */
@media screen and (min-width: 900px) {
  .new-navbar {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10001;
    background-color: rgb(228, 244, 222);
  }
}

/* MIN WIDTH */
@media screen and (max-width: 1000px) {
  .new-navbar {
    width: 275px !important;
    position: fixed;
    top: 0;
    left: -275px !important;
    height: 100%;
    z-index: 10000;
    display: flex;
    justify-content: flex-start;
    transition: left 0.3s ease;
  }

  .new-navbar.open {
    background-color: #464646;
    left: 0 !important;
    transition: left 0.3s ease;
  }

  .navbar-content {
    flex-direction: column;
    padding: 5px;
    align-items: flex-start !important;
    margin: 0 0 0 20px;
    display: flex;
    box-shadow: none !important;
  }

  .nav-item {
    margin: 15px 0;
  }

  .nav-container {
    height: 100vh;
    position: absolute;
  }

  .close-icon,
  .open-icon {
    left: -40px;
  }

  .close-icon {
    font-size: 30px;
  }

  .close-icon.open {
    left: 235px;
  }

  .open-icon.closed {
    left: 300px;
  }
}

@media screen and (max-width: 1000px) {
  .open-icon {
    font-size: 40px;
  }
}

@media screen and (max-width: 1000px) {
  .nav-container {
    height: 100vh;
    position: absolute;
  }

  .new-navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #333;
  }

  .new-navbar.open {
    left: 0;
  }

  .navbar-content {
    flex-direction: column;
    padding: 5px;
  }

  .nav-item {
    margin: 15px 0;
  }

  .close-icon,
  .open-icon {
    transition: left 0.3s ease;
  }

  .close-icon {
    left: -40px !important;
  }

  .close-icon.open {
    left: 235px !important;
  }

  .open-icon.closed {
    left: 300px !important;
  }
}

@media screen and (max-width: 700px) {
  .modal-content-contact {
    width: 100%;
  }

  .close {
    right: 20px;
    top: 20px;
  }
}

@media screen and (max-width: 400px) {
  .open-icon {
    top: 0;
    left: 0;
  }
}
