.streaming-container {
    display: flex;
    justify-content: space-around;
}

.streaming-logo-price-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px;
}

.streaming-logo-price-container a {
    text-decoration: none !important;
}

.streaming-logo-price-container p {
    font-size: medium;
}

.streaming-logo {
    border-radius: 5%;
    width: 130px;
    height: auto;
}

@media screen and (max-width: 700px) {

    .streaming-logo-price-container p {
        font-size: small;
    }

    .streaming-logo {
        border-radius: 5%;
        width: 100px;
        height: auto;
    }

}

@media screen and (max-width: 550px) {
    .streaming-logo {
        width: 70px;
        height: auto;
    }
}