.qaa {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    margin: 100px;
}

.question {
    font-size: x-large;
    /* text-decoration: lightgreen underline wavy; */
    margin-bottom: 5px;
}

.answer {
    margin-top: 5px;
    font-size: medium;
    margin-bottom: 20px;
    line-height: 2;
}