.contact-page {
    width: 100vw;
    height: auto;
    display: flex;
    padding: 200px 0px 0px 0px !important;
    justify-content: center;
    overflow-x: hidden;
    margin: 0;
}

.label {
    font-family: "Urbanist", sans-serif;
    color: purple;
}

.form-control,
.send-button {
    border: 1px solid salmon;
    border-radius: 2px;
    width: 100%;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: "Urbanist", sans-serif;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-col {
    padding: 10px;
    box-sizing: border-box;
    flex: 1;
    margin: 0px 10px 0px 10px;
}

.form-col-full {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    flex: 1;
    margin: 0px 10px 0px 10px;
}

.send-button {
    background-color: pink;
    color: salmon;
    font-size: large;
    border: 1px solid salmon;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 15px 0px 0px 20px;
}

.send-button:hover {
    background-color: lightgreen;
}

.message {
    height: 80px;
}

.contact-sticker {
    position: absolute;
    top: 230px;
    right: 9px;
    z-index: 5;
}

.contact-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px 20px 5px 5px;
}

@media screen and (max-width: 800px) {
    .contact-sticker {
        top: 180px !important;
        right: 9px;
    }
}