.contact-page {
    top: 0;
    position: absolute;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    margin: 90px 0px;
}

.message-background {
    display: flex;
    justify-content: center;
    width: 60%;
    border-radius: 1.1%;
    padding: 30px;
}

.consultation {
    color: white;
}

.consultation-link {
    color: lightgreen;
    text-decoration: none;
}

.contact-form-2 {
    width: 90%;
}

.label {
    font-family: "Urbanist", sans-serif;
    color: white;
}

.looking-forward {
    font-size: 20px;
    color: white;
    font-family: "Urbanist", sans-serif;
}

.form-control {
    border: 1px solid salmon;
    border-radius: 2px;
    width: 250px;
    min-height: 23px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.send-button {
    background-color: pink;
    border: 2px solid salmon;
    color: salmon;
    font-family: "Urbanist", sans-serif;
    font-size: large;
    border-radius: 3px;
    width: 260px;
    float: right;
    margin-top: 20px;
}

.send-button:hover {
    background-color: lightgreen;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 800px) {
    .message-background {
        width: 90% !important;
    }
}

.sticker-holder {
    /* width: 30%; */
    display: flex;
    justify-content: flex-start;
    object-fit: fill;
}

.message {
    height: 60px;
}

.col {
    max-width: 450px;
}