.screenings-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 80px;
}

.screenings-image {
  border-radius: 1%;
  height: auto;
  margin: 100px 0 50px 0;
}

@media screen and (max-width: 900px) {
  .screenings-container {
    margin: 0 40px !important;
  }

  @media screen and (max-width: 600px) {
    .screenings-container {
      margin: 0 20px !important;
    }
  }
}
