___________________________________________________________________GLOBAL
  :root {
  --color1: rgb(251, 120, 106);
  --color2: rgb(246, 179, 91);
  --color3: rgb(153, 161, 168);
  --color4: rgb(212, 180, 124);
  --color5: rgb(183, 227, 168);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  width: 100vw !important;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  background-color: rgb(228, 244, 222);
}

body.navbar-open {
  overflow: hidden;
}

body.no-scroll {
  overflow: hidden;
}

.send-button {
  z-index: 999;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  letter-spacing: 1.2px;
}

.send-button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body,
label {
  font-family: "Urbanist", sans-serif;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh !important;
}

.home-body {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .about-projects-div {
  width: 100%;
  box-sizing: border-box;
} */

.ricky-about-div {
  overflow: hidden; /* Clear the float */
  padding: 20px;
  box-sizing: border-box;
}

.ricky-img {
  float: right;
  margin: 0 0 0 20px;
}

.ricky-about {
  font-size: 18px;
  line-height: 1.8;
  margin: 0;
  text-align: justify;
}

.projects {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.page-container,
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-check,
.details {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1400px) {
  .about {
    width: 65vw !important;
  }
}

@media screen and (max-width: 1300px) {
  .movie-scroll-labels span {
    font-size: 35px !important;
  }
}

@media screen and (max-width: 1200px) {
  .about {
    width: 70vw !important;
  }
}

@media screen and (max-width: 1000px) {
  .movie-scroll-labels span {
    font-size: 30px !important;
  }

  .movie-scroll-labels {
    margin-top: 0 !important;
  }

  .about {
    width: 60vw !important;
  }
}

@media screen and (max-width: 900px) {
  .about {
    width: 65vw !important;
    margin: 0 0 50px 0 !important;
  }
  .about span {
    font-size: 18px !important;
  }
}

@media screen and (max-width: 800px) {
  .about {
    width: 80vw !important;
  }
}

@media screen and (max-width: 600px) {
  .about span {
    font-size: medium;
  }
  .movie-scroll-labels span {
    font-size: 25px !important;
  }
  .movie-scroll-labels span {
    margin: 0 !important;
  }
}

@media screen and (max-width: 500px) {
  .about {
    margin: 0 0 35px 0 !important;
  }

  .about span {
    font-size: 14px;
  }
}
