/* ___________________________________________________________________GLOBAL */
:root {
  --color1: rgb(251, 120, 106);
  --color2: rgb(246, 179, 91);
  --color3: rgb(153, 161, 168);
  --color4: rgb(212, 180, 124);
  --color5: rgb(183, 227, 168);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  width: 100vw !important;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  background-color: rgb(228, 244, 222);
}

.send-button {
  z-index: 999;
  background-color: white;
  color: rgb(252, 80, 60);
  font-size: medium;
  cursor: pointer;
  transition: background-color 0.3s;
  bottom: 20px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1.5px;
  width: 100%;
  border: 1px solid var(--color1);
  border-radius: 2px;
  padding: 10px;
  font-family: "Urbanist", sans-serif;
}

.send-button:hover {
  background-color: lightgreen;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body,
label {
  font-family: "Urbanist", sans-serif;
  color: black;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh !important;
}

.home-body {
  width: 100%;
  overflow-x: hidden;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about {
  margin: 0px 200px;
  text-align: justify;
  max-width: 700px;
}

.about span {
  font-family: "Urbanist", sans-serif;
  line-height: 2;
  font-size: 22px;
  letter-spacing: 1.2px;
  font-weight: 400;
}

.page-container,
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-check,
.details {
  display: flex;
  justify-content: center;
}

.details-column,
.page-container,
.profile-container,
.details {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-title-div {
  display: flex;
  align-items: center;
}

.card-body {
  padding: 0px;
  height: 45% !important;
  display: flex;
  justify-content: center;
}

.card-img {
  object-fit: contain;
}

.user-profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 10%;
  margin-right: 25px;
}

.favorites-container,
.page-container,
.profile-container,
.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.all-rights-div {
  margin: 0px;
  padding: 20px;
}

.dropdown-toggle {
  border: solid 1px lime !important;
  background-color: rgb(172, 172, 172) !important;
  color: black !important;
  box-shadow: none !important;
  border-radius: 0%;
}

input,
textarea {
  font-family: "Urbanist", sans-serif;
  letter-spacing: 2px;
}

.input[type="checkbox"]:checked {
  background-color: lightgreen !important;
  color: #ffffff !important;
}

.input[type="checkbox"]:after {
  box-shadow: none !important;
}

.form-check-input {
  background-color: white;
  border: solid black 1px;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  cursor: pointer;
}

.offering-details-page {
  display: flex;
  justify-content: center;
  padding: 0;
}

@media screen and (max-width: 1100px) {
  .about {
    margin: 0px 150px !important;
  }
}

#contactTextArea {
  min-height: 100px;
}

.movie-scroll-labels {
  margin-top: 120px;
  display: flex;
  justify-content: center;
}

.movie-scroll-labels p {
  /* font-weight: 200; */
  font-size: 40px;
  letter-spacing: 2px;
  margin: 0;
  color: black;
  font-family: "AwsumSans", sans-serif;
  margin-bottom: 20px;
}

.scroll-search-results {
  width: 100vw;
  overflow-x: scroll !important;
  overflow-y: hidden;
  display: flex;
  justify-content: space-around;
}

.scroll-search-results ul {
  display: flex;
  gap: 3rem;
  margin-bottom: 80px;
}

.scroll-search-results::-webkit-scrollbar {
  width: 12px;
}

.scroll-search-results::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-search-results::-webkit-scrollbar-thumb {
  background: transparent;
}
@media screen and (max-width: 900px) {
  .about {
    margin: 0 40px !important;
  }

  .about span {
    font-size: large;
  }

  .movie-scroll-labels p {
    font-size: 35px !important;
  }
}

@media screen and (max-width: 600px) {
  .about span {
    font-size: medium;
  }
  .movie-scroll-labels p {
    font-size: 30px !important;
  }
}
