___________________________________________________________________GLOBAL
  :root {
  --color1: rgb(251, 120, 106);
  --color2: rgb(246, 179, 91);
  --color3: rgb(153, 161, 168);
  --color4: rgb(212, 180, 124);
  --color5: rgb(183, 227, 168);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  width: 100vw !important;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  background-color: rgb(228, 244, 222);
}

body.navbar-open {
  overflow: hidden;
}

body.no-scroll {
  overflow: hidden;
}

.send-button {
  z-index: 999;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.send-button:hover {
  background-color: lightgreen;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body,
label {
  font-family: "Urbanist", sans-serif;
  color: black;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh !important;
}

.projects {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.home-body {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ricky-about {
  font-size: 18px;
  padding: 20px;
  line-height: 40px;
}

.ricky-about-div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.about-div {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}
.about {
  margin: 30px 0 50px 0;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 60vw;
}

.about span {
  font-family: "Urbanist", sans-serif;
  line-height: 2;
  font-size: 20px;
  letter-spacing: 1.2px;
  font-weight: 400;
  text-align: justify;
}

.page-container,
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-check,
.details {
  display: flex;
  justify-content: center;
}

.details-column,
.page-container,
.profile-container,
.details {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-title-div {
  display: flex;
  align-items: center;
}

.card-body {
  padding: 0px;
  height: 45% !important;
  display: flex;
  justify-content: center;
}

.card-img {
  object-fit: contain;
}

.user-profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 10%;
  margin-right: 25px;
}

.favorites-container,
.page-container,
.profile-container,
.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.all-rights-div {
  margin: 0px;
  padding: 20px;
}

.dropdown-toggle {
  border: solid 1px lime !important;
  background-color: rgb(172, 172, 172) !important;
  color: black !important;
  box-shadow: none !important;
  border-radius: 0%;
}

input,
textarea {
  font-family: "Urbanist", sans-serif;
  letter-spacing: 2px;
}

.input[type="checkbox"]:checked {
  background-color: lightgreen !important;
  color: #ffffff !important;
}

.input[type="checkbox"]:after {
  box-shadow: none !important;
}

.form-check-input {
  background-color: white;
  border: solid black 1px;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  cursor: pointer;
}

.offering-details-page {
  display: flex;
  justify-content: center;
  padding: 0;
}

#contactTextArea {
  min-height: 100px;
}

.separator {
  margin: 0 10px;
}

/* Media query for small screens */
@media screen and (max-width: 600px) {
  .movie-scroll-labels {
    flex-direction: column;
  }

  .separator {
    margin: 5px 0;
  }
}

.scroll-search-results {
  width: 100vw;
  overflow-x: scroll !important;
  overflow-y: hidden;
  display: flex;
}

.scroll-search-results ul {
  display: flex;
  gap: 3rem;
  margin-bottom: 80px;
  list-style-type: none;
}

.scroll-search-results::-webkit-scrollbar {
  width: 12px;
}

.scroll-search-results::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-search-results::-webkit-scrollbar-thumb {
  background: transparent;
}

/* .video-about {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
} */

@media screen and (max-width: 1400px) {
  .about {
    width: 65vw !important;
  }
}

@media screen and (max-width: 1300px) {
  .movie-scroll-labels span {
    font-size: 35px !important;
  }
}

@media screen and (max-width: 1200px) {
  .about {
    width: 70vw !important;
  }
}

@media screen and (max-width: 1000px) {
  .movie-scroll-labels span {
    font-size: 30px !important;
  }

  .movie-scroll-labels {
    margin-top: 0 !important;
  }

  .about {
    width: 60vw !important;
  }
}

@media screen and (max-width: 900px) {
  .about {
    width: 65vw !important;
    margin: 0 0 50px 0 !important;
  }
  .about span {
    font-size: 18px !important;
  }
}

@media screen and (max-width: 800px) {
  .about {
    width: 80vw !important;
  }
}

@media screen and (max-width: 600px) {
  .about span {
    font-size: medium;
  }
  .movie-scroll-labels span {
    font-size: 25px !important;
  }
  .movie-scroll-labels span {
    margin: 0 !important;
  }
}

@media screen and (max-width: 500px) {
  .about {
    margin: 0 0 35px 0 !important;
  }

  .about span {
    font-size: 14px;
  }
}
