.fiscal-page {
    margin: 120px 0px 0px 0px;
}

.about {
    margin: 80px 100px;
    text-align: justify;
}

.about p {
    font-family: "Urbanist", sans-serif;
    line-height: 2;
    font-size: x-large;
}

.download-section {
    display: flex;
}

@media screen and (max-width: 1100px) {
    .about {
        margin: 50px 80px !important;
    }
}

@media screen and (max-width: 900px) {
    .about {
        margin: 50px 40px 90px 40px !important;
    }

    .contact-div-footer {
        padding: 20px;
    }

    .about p {
        font-family: "Urbanist", sans-serif;
        line-height: 2;
        font-size: large;
    }
}